<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<!--para poder reutlizar uno de nuestros fragmentos de codigo que tengamos en una de nuestras plnatillas que hallamos
creado con thymeleaf para la reutilizacion de codigo html, nos apoyamos de la etiqueta de thymeleaf ht:replace indicando
el path de esa template desde la carpta de templates que nos define springBoot para trabjar con thymeleaft, sin la
extencion .html mas :: y el nombre de el fragmento que hallamos degfinido, esto claro esta que debe de ser dentro de un
mismo tipo de etiqueta html que sea la del fragmento-->
<header th:replace="layout/plantilla :: header"></header>



<!--traemos nuestra propiedad del properties paraa que sea el valor a mostrar como texto para la etiqueta html-->
<a th:if="${roles.contains('ROLE_ADMIN')}" th:href="@{/add}" th:text="#{person.create}"></a>

<div th:if="${people != null && !people.isEmpty()}">

    <table border="1">
        <tr>
            <th th:text="#{person.name}"></th>
            <th th:text="#{person.lastName}"></th>
            <th th:text="#{person.phone}"></th>
            <th th:text="#{person.email}"></th>
            <th th:if="${roles.contains('ROLE_ADMIN')}" th:text="#{action.update}"></th>
            <th th:if="${roles.contains('ROLE_ADMIN')}" th:text="#{action.delete}"></th>
        </tr>
        <tr th:each="person : ${people}">
            <!--para realizar la iteracion sobre una collection que enviemos desde nuestro controllador,
            nos apoyamos de la etiqueta th:each de thymeleaf la cual nos permitira crear una varible que
            iterara sobre el objeto que enviamos desde el controlador, por cada uno de los elmentos que traiga nuestra
            collecion que enviamos donde de manera muy similar a un foreach normal en java, damos el nombre a la variable que
            iterara por cada elementoseparamos con : y utlizando la sintasix que ya conocemos de thymelaf para traer con la
            clave del obejto que enviamos del controlador recuperamos dicho objeto y enpezamos a relizar las acciones que necesitamos
            por cada iteracion que en este caso es la agregacion de las etiquetas td y en cada una utlizamos las etiquetas th:text de
            tymeleaf para llamar los atributos de nuestro objeto persona que tenemos en el momento de la iteracion-->
            <td th:text="${person.getName()}"></td>
            <td th:text="${person.getLastName()}"></td>
            <td th:text="${person.getPhoneNumber()}"></td>
            <td th:text="${person.getEmail()}"></td>
            <!--relizamos un link para que se nos envie hacia el end-point de update, endonde el path que estamos
            enviando lleva el id del objeto persona que estemos recorriendo por cada iteracion del bucle, esto atravez
            de "path params" por ende ponemos al final del path del end-point un / para enviar el id en el mismo path
            atravez de  path param quedando algo similar ah localhost:8080/update/1

            si fuese por query param seria locahost:8080/update?id=1-->
            <td th:if="${roles.contains('ROLE_ADMIN')}"><a th:href="@{/update/} + ${person.getId()}" th:text="#{action.update}"/></td>


            <!--
            esto seria por path params
            <td><a th:href="@{/delete/} + ${person.getId()}" th:text="Delete"/></td>

            ahora para nosotros poder enviar nuestro parametro al end-point del controlador por Query params
            quedadono de la siguiente forma por ejemplo:  locahost:8080/update?id=1
            ya no tendriamos que concatenar el path con el parametro a enviar, sino que simplemente
            dentro de la misma expresion de la cual estamos definiendo el path a donde va a ir, colocamos
            un par de () mas y dentro de estas el nombre del Query params que estamos enviado al end-point,
            el = para asignarle al valor, y nos apoyamos de la expresion ${} para meter codigo java, en el
            cual estamos llamando al metod get del id persona
            -->
            <td th:if="${roles.contains('ROLE_ADMIN')}"><a th:href="@{/delete(id=${person.getId()})}" th:text="#{action.delete}"/></td>
        </tr>
    </table>
</div>

<div th:if="${people == null || people.isEmpty()}" th:text="#{person.list.empty}">

</div>

<!--de igual manera que con el heeder ahora reutilizamos nuestro fragmento defino desde nuestra plnatilla de thymeleaf
para este-->
<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>